@keyframes icon-pulse {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(.9);
    }
}

body {
    width: 279px;
    height: 339px;
    background-size: cover;
    background-position: center;
}

.hidden,
a.hidden{
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: .8;
}

.close:hover {
    opacity: 1;
}

img.icon {
    width: 32px;
    height: 32px;
    margin-right: 3px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.link {
    font-size: 12px;
    color: #9b9b9b;
    text-decoration: none;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.link-wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    border: solid 1px #979797;
    border-radius: 8px;
    padding: 4px 8px 5px;
    max-width: 160px;
    cursor: pointer;
    background-color: black;
}

.link-wrapper .arrow {
    height: 10px;
    margin-left: 2px;
}

.slack-link,
.slack-send {
    display: block;
    color: #4a90e2;
    text-decoration: none;
    margin-top: 8px;
}

.slack-input {
    margin-top: 8px;
    border: solid 1px #979797;
    border-radius: 8px;
    background-color: black;
    color: #9b9b9b;
    padding: 3px 6px;
    outline: none;
}

.header {
    position: absolute;
    left: 15px;
    top: 10px;
}

#progress img.icon {
    animation: icon-pulse 1s ease infinite;
    transform-origin: bottom;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.result {
    color: white;
}

.embed {
    position: absolute;
    bottom: 0;
}
