body {
    width: 279px;
    height: 339px;
    background-color: black;
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: .8;
}

.close:hover {
    opacity: 1;
}

img.icon {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

a {
    color: white;
}

.header {
    position: absolute;
    left: 15px;
    top: 10px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.result {
    color: white;
}

.embed {
    position: absolute;
    bottom: 0;
}
