body {
    width: 279px;
    height: 339px;
    background-color: black;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: .8;
}

.close:hover {
    opacity: 1;
}

.header {
    display: flex;
    position: absolute;
    left: 15px;
    top: 10px;
}

.logo {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.result {
    color: white;
}

.embed {
    position: absolute;
    bottom: 0;
}
